@tailwind base;
@tailwind components;
@tailwind utilities;

/*.react-calendar {
  width: 100% !important;
  border: none !important;
  margin-bottom: 2rem;
}

.react-calendar__tile {
  font-size: 1rem !important;
}*/
