/*.slider-container {
  width: 100%;
  height: 300px;
  overflow: hidden;
}

.slider-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}*/

.mySwiper {
  width: 100%;
  height: 100%; /* Ensure Swiper occupies the parent's height */
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}
